@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*::-moz-focus-inner {
  border: 0;
}

.clearfix {
  clear: both;
}

body {
  padding-bottom: 200px;
  font-size: 100%;
  color: #111111;
  margin-top: 57px;
  background-color: #fafafa;
}

body.drawer-open {
  overflow: hidden;
}

.text-color-secondary {
  color: rgba(17, 17, 17, 0.6);
}

.icon-button {
  border: none;
  background: transparent;
  width: 18px;
  cursor: pointer;
}

.icon-button img {
  width: 100%;
}

.Notification {
  z-index: 1000;
  background: #323232;
  position: fixed;
  left: 14px;
  bottom: 14px;
  color: #f1f1ee;
  padding: 16px 0 16px 24px;
  width: 288px;
  border-radius: 2px;
  font-size: 87.5%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  animation: slideInOutNotification 4s ease-in-out forwards;
  display: none;
}

.Notification.visible {
  display: inline-block;
}

@keyframes slideInOutNotification {
  0% {
    bottom: -100px;
    opacity: 0.3;
  }
  4% {
    opacity: 0.4;
  }
  8% {
    bottom: 14px;
    opacity: 1;
  }
  92% {
    bottom: 14px;
    opacity: 1;
  }
  96% {
    opacity: 0.5;
  }
  100% {
    bottom: -100px;
    opacity: 0;
  }
}

.CheckboxInput {
  display: inline-block;
}

.CheckboxInput input[type="checkbox"] {
  display: none;
}

.CheckboxInput label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

.CheckboxInput label:before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: url('resources/checkbox-unchecked.png') left center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100%;
}

.CheckboxInput input[type="checkbox"]:checked + label:before {
  background: url('resources/checkbox-checked.png') left center no-repeat;
  background-size: 100%;
}

.page-container {
  width: 100%;
  float: right;
}

.feed-container {
  width: 1284px;
  margin: 0 auto;
  overflow: hidden;
}

.App[class="App left-drawer-open"] .page-container {
  width: calc(100% - 240px);
}

.LeftDrawer__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 3;
}

.LeftDrawer.as-modal .LeftDrawer__cover {
  z-index: 4;
}

.App.left-drawer-open .LeftDrawer__cover {
  display: block;
}

.LeftDrawer__drawer {
  width: 240px;
  transform: translateX(-300px);
  height: calc(100vh - 57px);
  background: #f5f5f5;
  overflow: hidden;
  position: fixed;
  top: 57px;
  left: 0;
  z-index: 3;
}

.LeftDrawer.as-modal .LeftDrawer__drawer {
  height: 100vh;
  top: 0;
  z-index: 4;
  position: absolute;
}

.App.left-drawer-open .LeftDrawer__drawer {
  transform: translateX(0);
}

.App.left-drawer-open .LeftDrawer.as-modal .LeftDrawer__drawer {
  animation: slideInDrawer .25s ease-in-out forwards;
}

.App.slide-drawer-out .LeftDrawer__drawer {
  transform: translateX(-300px);
}

.App.slide-drawer-out .LeftDrawer.as-modal .LeftDrawer__drawer {
  animation: slideOutDrawer .25s ease-in-out forwards;
}

@keyframes slideInDrawer {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutDrawer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

.LeftDrawer__drawer:hover {
  overflow-y: scroll;
}

.LeftDrawer .icon-button {
  margin-right: 22px;
}

.LeftDrawer__drawer section:last-child {
  padding-bottom: 30px;
}

.LeftDrawer__drawer section:last-child::after {
  display: none;
}

.LeftDrawer__section-heading {
  font-size: 87.5%;
  color: #111111;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px 0 12px 26px;
}

.LeftDrawer__section-heading a {
  color: #6c6c6c;
  text-decoration: none;
}

.LeftDrawer__section-heading a:hover {
  color: #0a0a0a;
}

section.LeftDrawer__header {
  padding: 17px 0 19px 0;
}

.LeftDrawer__menu-icon {
  margin-left: 28px;
}

.LeftDrawer__logo {
  width: 130px;
  position: relative;
  top: 2px;
}

.LeftDrawer section:not(.LeftDrawer__subscriptions) .MenuLink img {
  filter: grayscale(100%);
  opacity: 0.6;
}

.LeftDrawer .MenuLink.active {
  background: #dcdcdc;
}

.LeftDrawer section .MenuLink.active img {
  filter: none;
  opacity: 1;
}

.LeftDrawer .MenuLink.active .MenuLink__text {
  color: #111111;
  font-weight: 500;
}

.MenuLink,
.LeftDrawer__show-more {
  height: 40px;
  position: relative;
}

.MenuLink img,
.MenuLink .ProfileIcon__generated,
.LeftDrawer__show-more img {
  width: 18px;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}

.LeftDrawer__subscriptions .MenuLink img,
.LeftDrawer__subscriptions .MenuLink .ProfileIcon__generated {
  left: 24px;
}

.MenuLink a {
  color: #111111;
  text-decoration: none;
  font-size: 87.5%;
  display: block;
  width: 100%;
  height: 100%;
}

.MenuLink a:hover,
.LeftDrawer__show-more:hover {
  background: rgba(0, 0, 0, 0.05);
}

.MenuLink__text {
  position: absolute;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
  max-width: 117px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LeftDrawer__show-more {
  cursor: pointer;
  font-size: 87.5%;
}

section.LeftDrawer__footer {
  font-size: 82%;
  font-weight: 500;
  color: #6c6c6c;
  padding-left: 28px;
}

section.LeftDrawer__footer a {
  color: #0a0a0a;
  text-decoration: none;
}

.Header {
  width: 100%;
  height: 56px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  z-index: 4;
  background: #ffffff;
}

.Header__container {
  width: 97%;
  margin: 0 auto;
}

.Header__left-dock {
  display: inline-block;
  position: relative;
  top: 16px;
}

.Header button {
  border: none;
  background: transparent;
  width: 18px;
  cursor: pointer;
}

.Header button img {
  width: 100%;
}

.Header__logo {
  width: 130px;
  position: relative;
  top: 3px;
  margin-left: 24px;
}

.SearchBar {
  width: 640px;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 11px;
}

.SearchBar input[type="text"] {
  font-size: 100%;
  padding: 5px 12px;
  border-radius: 2px 0 0 2px;
  border: 1px solid #cccccc;
  width: 90%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
}

.SearchBar input[type="text"]:focus {
  border-color: #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.SearchBar input[type="text"]::placeholder {
  color: #7f7f7f;
  opacity: 1;
}

button.SearchBar__search-button {
  background: #f8f8f8;
  height: 32px;
  width: 10%;
  border: 1px solid #d3d3d3;
  border-left-width: 0;
  border-radius: 0 2px 2px 0;
  position: relative;
  bottom: 1px;
}

button.SearchBar__search-button:hover {
  background: #f0f0f0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}

button.SearchBar__search-button img {
  width: 15px;
  opacity: 0.7;
  position: relative;
  top: 2px;
}

button.SearchBar__search-button:hover img {
  opacity: 1;
}

.Header__right-dock {
  width: 84px;
  float: right;
  position: relative;
  bottom: 56px;
}

.Header__create-video {
  margin-right: 34px;
  position: relative;
  top: 13px;
}

.Header .ProfileIcon {
  position: relative;
  top: 12px;
}

.Header .ProfileIcon__generated {
  cursor: default;
}

.ProfileIcon {
  display: inline-block;
  user-select: none;
}

.ProfileIcon__generated {
  color: #ffffff;
  display: block;
  border-radius: 50px;
  position: relative;
  text-align: center;
}

.AccountMenu {
  width: 300px;
  position: absolute;
  top: 48px;
  right: 16px;
  background: #ffffff;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.4);
  color: #111111;
  z-index: 5;
}

a .AccountMenu__header {
  color: #111111;
}

.AccountMenu__header {
  background: #eeeeee;
  overflow: hidden;
  padding: 16px;
}

.AccountMenu__header--profile-icon {
  width: 56px;
  float: left;
}

.AccountMenu__header--account-details {
  float: left;
}

.AccountMenu__header--account-details h3 {
  font-size: 100%;
  font-weight: 500;
}

.AccountMenu__header--account-details span {
  font-size: 87.5%;
}

.menu-section {
  padding: 13px 0;
  position: relative;
}

.menu-section::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
}

.AccountMenu .MenuLink img {
  left: 19px;
}

.AccountMenu .settings-link .MenuLink img {
  filter: grayscale(100%);
  opacity: 0.6;
}

.AccountMenu .MenuLink__text {
  left: 72px;
}

.WatchView__container {
  width: 1280px;
  margin: 0 auto;
}

.WatchLeftColumn,
.WatchRightColumn {
  float: left;
}

.WatchLeftColumn {
  width: 854px;
}

.WatchRightColumn {
  width: 426px;
}

.Player {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Player__container.hide-cursor {
  cursor: none;
}

.control-tooltip {
  display: none;
  position: absolute;
  bottom: 46px;
  right: -100%;
  padding: 4px 8px;
  background-color: #1e1e1e;
  color: #ebeeee;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.control:hover .control-tooltip {
  display: inline-block;
}

.Player__container.settings-menu .control-tooltip {
  display: none;
}

.PlayerTitleBar-controls .control-tooltip {
  bottom: -34px;
}

.PlayerTitleBar-controls .control-share .control-tooltip {
  right: -34%;
}

.Player__container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  background: #000;
  overflow: hidden;
}

.Player__ReactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.Player__top-gradient,
.Player__bottom-gradient {
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url('../src/resources/player-gradient.png');
  opacity: 0;
}

.Player__container.show-title .Player__top-gradient {
  opacity: 1;
}

.Player__container.show-controls .Player__bottom-gradient {
  opacity: 1;
}

.Player__top-gradient {
  top: 0;
  background-position: top;
  transition: opacity .1s ease-in-out;
}

.Player__bottom-gradient {
  bottom: 0;
  background-position: bottom;
  transition: opacity .25s ease-in-out;
}

.PlayerTitleBar {
  width: 100%;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 170%;
  z-index: 0;
  padding-top: 19px;
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.Player__container.show-title .PlayerTitleBar {
  opacity: 1;
  z-index: 2;
}

.PlayerTitleBar span.title-contents {
  cursor: pointer;
  padding-left: 1%;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
}

.PlayerTitleBar span.title-contents:hover {
  opacity: 1;
}

.PlayerTitleBar-controls {
  float: right;
}

.PlayerControlsBar {
  width: 100%;
  height: 36px;
  padding: 0 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.Player__container.fullscreen .PlayerControlsBar {
  bottom: 11px;
  padding: 0 2.3%;
}

.Player__container.show-controls .PlayerControlsBar,
.Player__container.show-controls .PlayerProgressBar {
  opacity: 1;
}

.Player__progress-bar-container,
.Player__progress--watched,
.Player__progress--buffered,
.Player__progress--mouse-pos {
  height: 3px;
  display: block;
  transition: all .05s ease-in-out;
}

.PlayerProgressBar:hover .Player__scrubber {
  opacity: 1;
}

.PlayerProgressBar:hover .Player__progress-bar-container,
.PlayerProgressBar:hover .Player__progress--watched,
.PlayerProgressBar:hover .Player__progress--buffered,
.PlayerProgressBar:hover .Player__progress--mouse-pos {
  height: 5px;
}

.PlayerProgressBar:hover .Player__progress--buffered,
.PlayerProgressBar:hover .Player__progress--mouse-pos {
  bottom: 5px;
}

.PlayerProgressBar:hover .Player__progress--mouse-pos {
  bottom: 10px;
}

.PlayerProgressBar {
  width: 97%;
  z-index: 1;
  position: absolute;
  bottom: 33px;
  left: 1.3%;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
  padding: 10px 0 5px 0;
  opacity: 0;
}

.Player__container.fullscreen .PlayerProgressBar {
  bottom: 46px;
}

.Player__scrubber {
  display: block;
  opacity: 0;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background: red;
  position: absolute;
  bottom: 0;
  left: 198px;
  transition: opacity .10s ease-out;
}

.Player__progress-bar-container {
  background: rgba(255, 255, 255, 0.4);
}

.Player__progress--watched {
  width: 25%;
  background: red;
}

.Player__progress--buffered,
.Player__progress--mouse-pos {
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  bottom: 3px;
  z-index: -1;
}

.Player__progress--mouse-pos {
  background: rgba(255, 255, 255, 0.5);
  animation: adjustMousePosBarLocationOnAppearance .25s linear forwards;
}

/* The mouse position bar does some weird positioning stuff when its display goes from 
   none to block.  This animation smoothes it out quite a bit. */
@keyframes adjustMousePosBarLocationOnAppearance {
  0% {
    bottom: 9px;
    height: 3px;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    bottom: 10px;
    height: 5px;
    opacity: 1;
  }
}

.PlayerControlsBar div {
  position: relative;
  top: 6px;
}

.PlayerControlsBar .control,
.PlayerTitleBar-controls .control {
  width: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 13px;
  position: relative;
  outline: 0;
}

.Player__container.fullscreen .control {
  width: 30px;
  margin-right: 20px;
}

.Player__container.fullscreen .control-fullscreen {
  margin-right: 0;
}

.Player__container.fullscreen .PlayerTitleBar-controls .control {
  margin-right: 24px;
}

.PlayerControlsBar .control:last-child {
  margin-right: 0;
}

.control.control-volume,
.Player__container.fullscreen .control.control-volume {
  margin-right: 0;
}

.PlayerControlsBar .control-play {
  margin-right: 20px;
}

.Player__container.fullscreen .control-play {
  margin-right: 28px;
}

.PlayerControlsBar .control img,
.PlayerTitleBar-controls .control img {
  width: 100%;
  opacity: 0.8;
  transition: opacity .1s linear;
}

.PlayerControlsBar .control:hover img,
.PlayerTitleBar-controls .control:hover img {
  opacity: 1;
}

.PlayerControlsBar--left {
  float: left;
}

.PlayerControlsBar--right {
  float: right;
}

.volume-area input[type=range] {
  -webkit-appearance: none;
  width: 0;
  overflow: hidden;
  margin-left: 13px;
  position: relative;
  bottom: 2px;
  transition: width .3s ease-in-out;
}

.Player__container.fullscreen .volume-area input[type=range] {
  bottom: 5px;
}

.volume-area--control:hover input[type=range] {
  width: 54px;
}

.Player__container.fullscreen .volume-area--control:hover input[type=range] {
  width: 78px;
}

#volume-area-spacer {
  display: inline-block;
  width: 0;
  transition: width .3s ease-in-out;
}

.volume-area--control:hover #volume-area-spacer {
  width: 10px;
}

.volume-area input[type=range]:focus {
  outline: none;
}

.volume-area input[type=range]::-webkit-slider-runnable-track {
  width: 54px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.78);
  border-radius: 1.3px;
  border: 0px solid rgba(1, 1, 1, 0);
}

.volume-area input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.3px;
}

.volume-area input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

.volume-area input[type=range]::-moz-range-track {
  width: 54px;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
}

.volume-area input[type=range]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border: none;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

.Player__container.fullscreen .volume-area input[type=range]::-moz-range-track {
  height: 4px;
  width: 78px;
}

.Player__container.fullscreen .volume-area input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
}

.volume-area input[type=range]::-ms-track {
  width: 54px;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.volume-area input[type=range]::-ms-fill-lower {
  background: rgba(242, 242, 242, 0.78);
}

.volume-area input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}

.volume-area input[type=range]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

.volume-area input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.78);
}

.volume-area input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}

.progress-time {
  position: relative;
  bottom: 6px;
  color: #eeeeee;
  font-size: 84.5%;
  margin-left: 6px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  cursor: text;
}

.Player__container.fullscreen .progress-time {
  font-size: 110%;
  bottom: 8px;
}

.Player__loading-spinner {
  width: 7%;
  position: absolute;
  top: 210px;
  left: 47%;
}

.Player__loading-spinner img {
  width: 100%;
}

.Player__action-flash {
  width: 30%;
  position: absolute;
  top: 130px;
  left: 330px;
}

.Player__action-flash img {
  animation: actionFlash .45s linear forwards;
}

@keyframes actionFlash {
  0% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  10% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.05;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.Player__container.fullscreen .Player__action-flash {
  left: 47%;
  top: 36vh;
}

.Player__container.fullscreen .Player__action-flash img {
  animation: actionFlash-fullscreen .5s linear forwards;
}

@keyframes actionFlash-fullscreen {
  0% {
    transform: scale(0.2);
    opacity: 0.3;
  }
  10% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.05;
  }
  98% {
    opacity: 0.01;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.PlayerControlsBar .PlayerSettingsMenu {
  background: #2e2e2e;
  position: absolute;
  top: -333px;
  left: 700px;
  border-radius: 3px;
  opacity: 0.95;
  color: #eeeeee;
  width: 100px;
  font-size: 78%;
  font-weight: 500;
}

.PlayerSettingsMenu__title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.25);
}

.PlayerSettingsMenu__options {
  list-style-type: none;
}

.PlayerSettingsMenu__options li {
  width: 100%;
  padding: 9px 0 9px 35px;
  cursor: pointer;
  background: #2e2e2e;
  position: relative;
}

.PlayerSettingsMenu__options li:hover {
  background: #646464;
}

.PlayerSettingsMenu__options li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.PlayerSettingsMenu__options li.selected {
  background: url('../src/resources/player-buttons/settings-check.png') no-repeat;
  background-position-x: 14%;
  background-position-y: 10px;
  background-size: 13px;
}

.PlayerSettingsMenu__options li.selected:hover::after {
  display: block;
  width: 100px;
  height: 34px;
  content: "";
  background: #646464;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Player__container.fullscreen .PlayerControlsBar .PlayerSettingsMenu {
  width: 155px;
  font-size: 110%;
  top: -480px;
  left: 87%;
}

.Player__container.fullscreen .PlayerSettingsMenu__options li {
  padding: 14px 0 14px 50px;
}

.Player__container.fullscreen .PlayerSettingsMenu__options li.selected:hover::after {
  width: 155px;
  height: 50px;
}

.Player__container.fullscreen .PlayerSettingsMenu__options li.selected {
  background-position-x: 14%;
  background-position-y: 16px;
  background-size: 18px;
}

.PlayerSharePanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.Player__container.share-view .PlayerSharePanel {
  opacity: 1;
}

.PlayerSharePanel:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #2e2e2e;
  opacity: 0.95;
}

.PlayerSharePanel__share {
  display: block;
  position: relative;
  width: 630px;
  height: 240px;
  margin: 36vh auto 0 auto;
  text-align: center;
  z-index: 0;
  color: #eeeeee;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.Player__container.share-view .PlayerSharePanel__share {
  z-index: 1;
}

.PlayerSharePanel__share span:not(.control-tooltip) {
  display: block;
}

.PlayerSharePanel__share--share-text {
  font-size: 160%;
}

.PlayerSharePanel__share--link {
  font-size: 226%;
  font-weight: 500;
  margin-top: 26px;
  cursor: pointer;
  transition: color .15s linear;
}

.PlayerSharePanel__share--link:hover {
  color: #ffffff;
}

.PlayerSharePanel__share--buttons {
  margin-top: 26px;
}

.PlayerSharePanel__share--buttons .share-button {
  border: none;
  background: transparent;
  width: 57px;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
}

.PlayerSharePanel__share--buttons .share-button img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.share-button .control-tooltip {
  right: -10%;
  bottom: 70px;
}

.share-button:hover .control-tooltip {
  display: inline-block;
}

.control-close .control-tooltip {
  right: -28%;
}

.RelatedVideos {
  padding-left: 24px;
}

.VideoThumbnail {
  width: 168px;
  position: relative;
  float: left;
  margin-right: 8px;
}

.VideoThumbnail img {
  width: 100%;
}

.VideoThumbnail__video-length {
  position: absolute;
  bottom: 8px;
  right: 4px;
  font-size: 75%;
  font-weight: 500;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  padding: 1px 4px;
  border-radius: 2px;
}

.VideoThumbnail__watch-later {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 4px 0 4px;
  border-radius: 4px;
  display: none;
}

.VideoThumbnail__watch-later img {
  width: 18px;
  opacity: 0.8;
}

.VideoThumbnail__watched-progress span {
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 4px;
}

.VideoThumbnail__watched-progress .bar-bg {
  width: 100%;
  background: #888888;
}

.VideoThumbnail__watched-progress .bar-progress {
  width: 50%;
  background: #e62117;
}

.RelatedVideo:hover .VideoThumbnail__watch-later {
  display: inline-block;
}

.RelatedVideo {
  position: relative;
  margin-bottom: 4px;
}

.RelatedVideo:last-child {
  margin-bottom: 0;
}

.RelatedVideo__details {
  float: left;
  width: 202px;
}

.RelatedVideo__details span {
  display: block;
}

.RelatedVideo__title {
  color: #111111;
  font-size: 87.5%;
  font-weight: 500;
  margin-bottom: 3px;
  max-height: 38px;
  overflow: hidden;
}

.RelatedVideo__creator,
.RelatedVideo__view-count {
  font-size: 81.25%;
  line-height: 18px;
}

img.RelatedVideo__menu-open {
  float: right;
  width: 14px;
  position: relative;
  right: 5px;
  top: 3px;
  opacity: 0;
  padding: 3px;
}

.RelatedVideo:hover img.RelatedVideo__menu-open {
  opacity: 0.4;
}

.RelatedVideo:hover img.RelatedVideo__menu-open:hover {
  opacity: 1;
}

.RelatedVideo__menu {
  width: 138px;
  position: absolute;
  top: 32px;
  right: -110px;
}

@media only screen and (max-width: 1400px) {
  .RelatedVideo__menu {
    right: 0;
  }
}

.inline-menu {
  background: #ffffff;
  list-style-type: none;
  color: #111111;
  font-size: 81.25%;
  padding: 9px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.inline-menu li {
  padding: 16px 0 16px 16px;
  cursor: pointer;
}

.inline-menu li:hover {
  background: #eeeeee;
}

.inline-menu li:focus,
.inline-menu li:active {
  background: #d3d3d3;
}

.inline-menu li.has-link {
  padding: 0;
}

.inline-menu li.has-link a {
  display: block;
  padding: 16px 0 16px 16px;
  color: #111111;
  text-decoration: none;
}

.VideoInfo section.info-section {
  border-bottom: 1px solid #eeeeee;
  padding: 18px 0;
  position: relative;
}

.VideoInfo__video-title {
  font-size: 112.5%;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}

.VideoInfo__view-count {
  font-size: 100%;
}

.InteractionDock {
  position: absolute;
  bottom: 8px;
  right: 0;
}

.InteractionDock__button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.InteractionDock__button img {
  width: 15px;
  opacity: 0.4;
  margin-right: 8px;
}

.InteractionDock__button:hover img {
  opacity: 0.8;
}

.InteractionDock__button span {
  font-size: 13px;
  font-weight: 500;
  color: #a0a0a0;
  position: relative;
  bottom: 4px;
  text-transform: uppercase;
}

.InteractionDock__like-dislike--container {
  width: 118px;
  display: inline-block;
  margin-right: 18px;
  position: relative;
}

.InteractionDock__like-dislike {
  overflow: hidden;
  padding: 0 8px;
}

.InteractionDock__like-dislike button img {
  width: 20px;
}

.InteractionDock .like-button {
  float: left;
}

.InteractionDock__like-dislike.user-liked .like-button span {
  color: #111111;
}

.InteractionDock__like-dislike.user-liked .like-button img {
  opacity: 1;
}

.InteractionDock__like-dislike.user-liked .like-button:hover img {
  opacity: 0.8;
}

.InteractionDock__like-dislike.user-disliked .dislike-button span {
  color: #111111;
}

.InteractionDock__like-dislike.user-disliked .dislike-button img {
  opacity: 1;
}

.InteractionDock__like-dislike.user-disliked .dislike-button:hover img {
  opacity: 0.8;
}

.InteractionDock .dislike-button {
  float: right;
}

.InteractionDock .share-button {
  position: relative;
  bottom: 5px;
  margin-right: 22px;
}

.InteractionDock .add-to-playlist-button {
  position: relative;
  bottom: 7px;
}

.InteractionDock .like-meter-bg,
.InteractionDock .like-meter-fill {
  display: block;
  height: 2px;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.InteractionDock .like-meter-bg {
  background: #cfcfcf;
  width: 100%;
}

.InteractionDock .like-meter-fill {
  background: #2793e6;
  width: 93%;
}

.VideoShareModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.interaction-popout {
  background: #ffffff;
  padding: 28px 24px;
  box-shadow: 0 6px 30px 3px rgba(0, 0, 0, 0.5);
}

.VideoShareModal__modal {
  width: 516px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInModal .3s ease-in-out forwards;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.VideoShareModal__modal h3 {
  font-weight: 400;
  font-size: 100%;
  margin-bottom: 20px;
}

.VideoShareModal__link-bar {
  width: 100%;
  padding: 11px 18px;
  background: #fafafa;
  border: 1px solid #ededed;
  border-radius: 2px;
  position: relative;
}

.VideoShareModal__link-bar input {
  border: none;
  background: transparent;
  font-size: 87.5%;
  width: 360px;
}

.VideoShareModal__link-bar button {
  text-transform: uppercase;
  cursor: pointer;
  color: #2793e6;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 87.5%;
  height: 44px;
  position: absolute;
  right: 6px;
  top: 0;
  padding: 0 20px;
}

.VideoShareModal__start-at {
  margin-top: 24px;
  border-top: 1px solid #eeeeee;
  padding-top: 24px;
  color: rgba(17, 17, 17, 0.8);
  font-size: 87.5%;
  height: 40px;
}

.VideoShareModal__start-at .start-time-deactivated {
  color: #c1c1c1;
  margin-left: 5px;
}

.VideoShareModal__start-at input[type="text"] {
  width: 50px;
  margin-left: 5px;
  position: relative;
  color: rgba(17, 17, 17, 0.8);
}

.underlined-text-input {
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 14px;
  background: transparent;
}

.underlined-text-input:focus {
  border-bottom: 2px solid #111111;
}

.AddToMenu {
  position: absolute;
  bottom: 40px;
  right: -260px;
  z-index: 2;
  width: 300px;
  padding: 0;
}

.AddToMenu section {
  border-bottom: 1px solid #eeeeee;
  padding: 18px 24px;
}

.AddToMenu section:last-child {
  border-bottom: 0;
}

.AddToMenu section.create-button {
  padding: 0;
}

.AddToMenu__playlist-row {
  cursor: pointer;
  margin-bottom: 12px;
}

.AddToMenu__playlist-row:last-child {
  margin-bottom: 0;
}

.AddToMenu__playlist-row label {
  font-size: 87.5%;
}

.AddToMenu__playlist-row img {
  width: 15px;
  position: relative;
  top: 2px;
  float: right;
}

.AddToMenu__create-new-playlist-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 17px 26px;
}

.AddToMenu__create-new-playlist-button img {
  width: 15px;
  position: relative;
  top: 2px;
  margin-right: 13px;
}

.AddToMenu__create-new-playlist-button:active {
  background: #e2e2e2;
}

section.AddToMenu__create-form {
  padding-bottom: 10px;
}

.AddToMenu__create-form label {
  font-size: 75%;
  display: block;
  margin-bottom: 3px;
}

.AddToMenu__create-form input[type="text"] {
  width: 100%;
  display: block;
}

.AddMenu__create-form--input-group {
  margin-bottom: 5px;
  position: relative;
}

.AddMenu__create-form--input-group:first-child {
  height: 56px;
}

.AddMenu__create-form--input-group.privacy {
  height: 38px;
  margin-bottom: 12px;
}

.AddToMenu__create-form--charcount {
  font-size: 75%;
  float: right;
  margin-top: 2px;
}

.AddToMenu__create-form img.dropdown-arrow {
  width: 9px;
  position: absolute;
  top: 23px;
  right: 10px;
}

.PrivacyDropdown {
  width: 216px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5px;
  left: 0;
  padding: 8px 0;
  z-index: 1;
}

.PrivacyDropdown__option {
  width: 100%;
  font-size: 87.5%;
  padding: 8px 16px;
}

.PrivacyDropdown__option.selected {
  background: #e2e2e2;
}

.PrivacyDropdown__option--name {
  display: block;
}

.PrivacyDropdown__option--desc {
  font-size: 13px;
  color: #707070;
}

.AddToMenu__create-form--create-button {
  border: none;
  background: transparent;
  color: #2793e6;
  cursor: pointer;
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 16px;
  font-size: 14px;
  position: relative;
  left: 16px;
}

.VideoInfo__top-row {
  margin-bottom: 20px;
}

.VideoInfo__top-row::after {
  clear: both;
  display: block;
  content: "";
}

.VideoInfo__top-row--metadata {
  width: 60%;
  float: left;
}

.VideoInfo__top-row--metadata .ProfileIcon,
.VideoInfo__top-row--metadata .metadata-text {
  float: left;
}

.VideoInfo__top-row--metadata .ProfileIcon {
  padding-right: 16px;
}

.VideoInfo__top-row--metadata .metadata-text {
  width: 70%;
  position: relative;
  top: 4px;
}

.VideoInfo__top-row--metadata span {
  display: block;
}

.meta-creator a {
  font-size: 87.5%;
  font-weight: 500;
  color: #0a0a0a;
  text-decoration: none;
  position: relative;
}

.meta-creator.is-video-author a {
  background: #888888;
  color: #ffffff;
  padding: 2px 24px 2px 8px;
  border-radius: 14px;
}

.meta-creator.is-video-author a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('resources/white-checkmark.png') right 8px center no-repeat;
  background-size: 10px;
}

.meta-publish-date,
.meta-time-since {
  font-size: 81.25%;
  color: #707070;
}

.VideoInfo__top-row--subscribe-notify {
  float: right;
  position: relative;
  top: 5px;
  padding-right: 8px;
}

.SubscribeButton {
  border: 0;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 3px;
  padding: 10px 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.SubscribeButton.subscribed {
  background: #eeeeee;
  color: #696969;
}

.SubscribeButton__text-subscribe {
  margin-right: 8px;
}

.SubscribeButton__subcount {
  opacity: 0.85;
}

.SubscribeButton.subscribed .SubscribeButton__subcount {
  opacity: 1;
}

.subscription-notification-bell {
  width: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 7px;
  margin-left: 13px;
}

.subscription-notification-bell img {
  width: 100%;
}

.VideoInfo__description {
  font-size: 87.5%;
  padding-left: 62px;
  line-height: 21px;
  margin-bottom: 6px;
  max-height: 60px;
  overflow: hidden;
}

.VideoInfo__description.expanded {
  max-height: none;
}

.VideoInfo__description a {
  text-decoration: none;
  color: #0665d6;
}

.VideoInfo__description--show-toggle {
  background: transparent;
  border: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #707070;
  padding: 6px 0;
  cursor: pointer;
  font-size: 13px;
  margin-left: 62px;
}

.transparent-button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.VideoComments {
  margin-top: 18px;
}

.VideoComments__header {
  margin-bottom: 28px;
}

.VideoComments__comments-count {
  margin-right: 30px;
}

.VideoComments__sort-control {
  position: relative;
}

.VideoComments__header button img {
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.VideoComments__header button span {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.VideoComments__sort-menu {
  width: 126px;
  position: absolute;
  top: 30px;
  right: -40px;
}

.CreateComment {
  overflow: hidden;
}

.CreateComment .ProfileIcon,
.CreateComment__create-form {
  float: left;
}

.CreateComment .ProfileIcon {
  margin-right: 15px;
}

.CreateComment__create-form {
  width: 93%;
}

.CreateComment__create-form textarea {
  resize: none;
  padding: 0;
  display: block;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 8px;
}

.CreateComment__buttons {
  float: right;
}

.CreateComment__buttons button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 17px;
  border-radius: 3px;
}

.CreateComment__buttons button.cancel {
  color: #707479;
}

.CreateComment__buttons button.cancel:hover {
  color: #414141;
}

.CreateComment__buttons button.comment {
  color: #ffffff;
  background: #2793e6;
  margin-left: 8px;
}

.CreateComment__buttons button.comment:disabled {
  opacity: 0.2;
}

.CommentsList {
  padding-top: 26px;
}

.Comment {
  margin-bottom: 11px;
}

.Comment.showing-replies {
  margin-bottom: 6px;
}

.Comment.reply {
  margin-bottom: 4px;
}

.Comment .ProfileIcon,
.Comment__details {
  float: left;
}

.Comment .ProfileIcon {
  margin-right: 16px;
}

.Comment__details {
  position: relative;
  bottom: 2px;
  width: 90%;
}

.Comment__title {
  margin-bottom: 6px;
}

.Comment__title .meta-creator a {
  margin-right: 10px;
  font-size: 13px;
}

.Comment__text {
  font-size: 87.5%;
  margin-bottom: 6px;
}

.Comment__buttons {
  position: relative;
  right: 5px;
  margin-bottom: 3px;
}

.Comment__buttons--like-dislike button {
  width: 16px;
  opacity: 0.4;
  padding: 6px;
  box-sizing: content-box;
  margin-right: 2px;
}

.Comment__buttons--like-dislike button:hover {
  opacity: 0.8;
}

.Comment__buttons--like-dislike.liked button.like {
  opacity: 1;
}

.Comment__buttons--like-dislike.disliked button.dislike {
  opacity: 1;
}

.Comment__buttons--like-dislike img {
  width: 100%;
}

.Comment__buttons--like-dislike .comment-like-count {
  font-size: 81.25%;
  color: #707070;
  position: relative;
  bottom: 3px;
  margin-right: 8px;
}

.Comment__button--reply {
  font-size: 13px;
  font-weight: 500;
  color: #707070;
  position: relative;
  bottom: 4px;
  padding: 8px 14px;
}

.Comment__button--reply:hover {
  color: #414141;
}

.Comment__view-replies button {
  margin-bottom: 12px;
}

.Comment__view-replies button span {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  margin-right: 6px;
}

.Comment__view-replies button img {
  width: 10px;
}

.Comment__showing-replies .Comment__view-replies button img {
  transform: rotate(180deg);
}

.VideoList .VideoListItem {
  border: 0;
  padding: 5px;
}

.VideoList .VideoListItem:first-child {
  padding-top: 0 !important;
}

.VideoListItem__thumbnail-link {
  display: block;
  width: 246px; 
  overflow: hidden;
  float: left;
  margin-right: 18px;
}

.VideoListItem a {
  text-decoration: none;
}

.VideoListItem__details {
  width: 600px;
  float: left;
  position: relative;
}

.VideoListItem__details .AddToMenu {
  top: 34px;
  bottom: initial;
  box-shadow: 0 6px 20px 3px rgba(0, 0, 0, 0.1);
}

.VideoListItem__details--title {
  font-size: 112.5%;
  color: #111111;
  font-weight: 400;
  padding-right: 40px;
}

.VideoListItem__subtitle span,
.VideoListItem__description {
  font-size: 81.25%;
  color: #777777;;
}

.VideoListItem__subtitle {
  display: block;
  margin-bottom: 8px;
}

.VideoListItem__subtitle span:not(:last-child):after {
  content: "•";
  padding: 0 6px;
  position: relative;
  top: 1px;
  color: #777777;
}

.VideoListItem__subtitle .creator-name:hover {
  color: #0a0a0a;
}

.VideoListItem__description {
  height: 37px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.ListItemTitle__title {
  color: #111111;
  font-size: 100%;
  font-weight: 500;
  position: relative;
  bottom: 10px;
  margin-left: 8px;
}

img.list-item__menu-open,
img.list-item__remove {
  width: 14px;
  position: absolute;
  right: 10px;
  top: -3px;
  opacity: 0;
  padding: 3px;
  cursor: pointer;
}

img.list-item__remove {
  width: 22px;
  opacity: 0.4;
}

.list-item:hover img.list-item__menu-open {
  opacity: 0.4;
}

.list-item:hover img.list-item__menu-open:hover {
  opacity: 1;
}

.list-item:hover img.list-item__remove:hover {
  opacity: 0.8;
}

.list-item__menu {
  width: 138px;
  position: absolute;
  top: 32px;
  right: -110px;
}

@media only screen and (max-width: 1400px) {
  .VideoListItem__menu {
    right: 0;
  }
}

.VideoListItem:hover .VideoThumbnail__watch-later {
  display: inline-block;
}

.HistoryView .VideoList {
  width: 900px;
  float: left;
}

.list-item__remove-tooltip {
  background: rgba(17, 17, 17, 0.7);
  font-size: 13px;
  color: #eeeeee;
  border-radius: 4px;
  padding: 9px 12px;
  position: absolute;
  top: 40px;
  right: -68px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.list-item__remove-tooltip.show {
  opacity: 1;
}

.HistoryControls {
  width: 384px;
  float: right;
}

.HistoryControls__search {
  width: 250px;
  padding: 8px 0 12px 32px;
}

.HistoryControls__search-input-container {
  position: relative;
  height: 74px;
  margin-left: 16px;
}

.HistoryControls__search-input-container img {
  width: 16px;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
}

.HistoryControls__search-input-container.focused img {
  opacity: 1;
}

img.HistoryControls__search--search-icon {
  top: 8px;
  left: 4px;
}

img.HistoryControls__search--clear-icon {
  top: 9px;
  right: 124px;
  opacity: 0.5;
}

.HistoryControls__type-filter {
  margin-bottom: 8px;
}

.HistoryControls section {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
}

.HistoryControls section:first-child {
  padding-top: 0;
}

.RadioInput {
  cursor: pointer;
}

.RadioInput__text {
  font-size: 87.5%;
  font-weight: 500;
}

.RadioInput__radio-button {
  width: 16px;
  float: right;
  position: relative;
  top: 2px;
}

button.HistoryControls__clear-history {
  font-weight: 500;
  padding: 10px 16px;
  font-size: 14px;
}

.SearchHistory {
  width: 900px;
  float: left;
  height: 1500px;
}

.SearchHistoryItem {
  margin-bottom: 26px;
  position: relative;
}

.SearchHistoryItem a {
  text-decoration: none;
}

.SearchHistoryItem span:not(.list-item__remove-tooltip) {
  display: block;
  font-weight: 500;
}

.SearchHistoryItem__query {
  color: #0a0a0a;
  margin-bottom: 4px;
}

.SearchHistoryItem__time-since {
  font-size: 75%;
  color: rgba(136, 136, 136, 0.8);
}

.CommentHistory {
  width: 900px;
  float: left;
  height: 1500px;
}

.CommentHistoryItem {
  font-size: 87.25%;
  margin-bottom: 34px;
  position: relative;
}

.CommentHistoryItem span {
  display: block;
}

.CommentHistoryItem a.item-info-link {
  color: #111111;
  font-weight: 500;
  text-decoration: none;
}

.CommentHistoryItem a.info-video-title {
  color: #065fd4;
}

.CommentHistoryItem a.item-info-link:hover {
  color: #065fd4;
}

.CommentHistoryItem__time-since {
  font-size: 13px;
  color: rgba(136, 136, 136, 0.8);
}

.CommentHistoryItem__info,
.CommentHistoryItem__comment-text {
  margin-bottom: 10px;
}

.CommentHistoryItem .list-item__menu {
  font-size: 13px;
  top: 40px;
  right: 26px;
  width: 70px;
}

.CommentHistoryItem img.list-item__menu-open {
  width: 13px;
  top: 4px;
  right: 70px;
}

.ChannelCover__cover-image {
  width: 100%;
}

.ChannelView__header {
  width: 100%;
  background: #fafafa;
  padding-top: 16px;
}

.ChannelHeaderInfo {
  width: 1284px;
  margin: 0 auto;
  overflow: hidden;
}

.ChannelHeaderInfo .ProfileIcon,
.ChannelHeaderInfo .ChannelHeaderInfo__name-and-subs {
  float: left;
}

.ChannelHeaderInfo .SubscribeButton {
  float: right;
  position: relative;
  top: 20px;
  margin-right: 6px;
}

.ChannelHeaderInfo .ProfileIcon {
  margin-right: 24px;
}

.ChannelHeaderInfo__name-and-subs {
  position: relative;
  top: 12px;
}

.ChannelHeaderInfo__name {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 2px;
}

.ChannelHeaderInfo__subs-count {
  font-size: 87.5%;
}

.ChannelNav {
  width: 100%;
  background: #fafafa;
  position: sticky;
  top: 56px;
  z-index: 4;
}

.ChannelNav__container {
  width: 1284px;
  margin: 0 auto;
}

.ChannelNavLink {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 12px 32px;
  font-size: 87.5%;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.6);
}

.ChannelNavLink.current {
  border-bottom: 3px solid #6e6e6e;
  color: #111111;
}