* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 200px;
}

.Header {
  width: 100%;
  padding: 15px 27px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 100px;
}

.Header__logo {
  width: 130px;
  position: relative;
  top: 3px;
}

.Player {
  width: 854px;
  margin: 0 auto;
}

.Player__container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  background: #000;
}

.Player__ReactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}